/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../image/Background.svg') !important;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  /* background-position: center; 
  background-repeat: no-repeat;  */
  /* background-size: contain; */
}


.hide {
  display: none;
}

.container {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

/* Estilos para perguntas e respostas */
.questions-container {
  text-align: left;
}

.question {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.answer:hover {
  background-color: #ddd;
}

/* Estilos para as mensagens finais */
.final-messages {
  margin-top: 20px;
  text-align: center;
}

.final-messages p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Estilos para botões nas mensagens finais */
.final-messages button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.final-messages button:hover {
  background-color: #0056b3;
}

/* Estilos para o formulário de login */
.login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container label {
  font-weight: bold;
  text-align: left;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


/* Estilos para os botões */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}


.correct {
  background-image: url('../image/1920x1080-verde.png') !important;
}

.incorrect {
  background-image: url('../image/1920x1080-vermelho.png') !important;
}

.button:hover {
  background-color: #0056b3;
}

.passou{
   background-image: url('../image/Background.svg') !important;
}

.reprovou{
  background-image: url('../image/1920x1080-vermelho.png') !important;
}


/* Consulta de mídia para Smartphones */
@media screen and (max-width: 480px) {
  /* Estilos para smartphones em orientação retrato */
  
  body.login-back{
    background-image: url('../image/back480x768.png') !important;
    
  }
  .msg-final {
    background-image: url('../image/Mobilefim.png') !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

  .correct {
    background-image: url('../image/SVGverdteste2.svg') !important;
  }

  .passou{
    background-image: url('../image/back480x768.png') !important;
  }

  .incorrect {
    background-image: url('../image/backvermelho480x768.png') !important;
  }
  
  .reprovou{
    background-image: url('../image/backvermelho480x768.png') !important;
  }
}

/* Consulta de mídia para Tablets */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos para tablets em orientação retrato */
  body.login-back{
    background-image: url('../image/Background.svg') !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
  }
  .msg-final {
    background-image: url('../image/1024x768-parabéns.png') !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
}

/* Consulta de mídia para Laptops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos para laptops e monitores de tela menor */
  .msg-final {
    background-image: url('../image/1280x768-parabéns.png') !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  body.login-back{
    background-image: url('../image/Background.svg') !important;
    
  }
}

/* Consulta de mídia para Desktops Maiores */
@media screen and (min-width: 1281px) {
  /* Estilos para monitores de desktop maiores */
  .msg-final {
    background-image: url('../image/1920x1080-parabéns.png') !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  body.login-back{
    background-image: url('../image/Background.svg') !important;
    
  }
}



